/* body {
  font-family: 'Source Code Pro', monospace;
  background-color: #1fc8db !important;
  /* background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
  /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12) !important;
  opacity: 0.95;
}

.menu_shadow {
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333;*/
  /* top: 0;
  width: 100%;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

.nav_link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_link:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.btn:link,
.btn:visited {
  border-radius: 12px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover,
.btn:active {}

.red:link,
.red:visited {
  background-color: #36ccf4;
  color: white;
}

.red:hover,
.red:active {
  background-color: #2ba1c0;
}

.box {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
  padding: 5px;
}

.row {
  margin-top: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  margin-top: 5px;
}

/* For mobile phones: */
/* [class*="col-"] {
  width: 100%;
  float: left;
}

.float_right {
  float: right;
}

.hide-small {
  display: block !important;
}

.hide-medium {
  display: none !important;
}

.hide {
  display: none;
}

@media only screen and (min-width: 768px) { */

  /* For desktop: */
  /* .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  .hide-small {
    display: none !important
  }

  .hide-medium {
    display: block !important
  }
} */

/* .post {
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  background-color: white;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.post_cover_view {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  border-radius: .25rem;
  z-index: 2;
  position: relative;
  overflow: hidden;
  cursor: default;
  word-wrap: break-word;
} */

/* .post_cover {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  position: relative;
  display: block;
} */

/* .post_title {
  z-index: 3;
  margin-top: -3rem;
  border-radius: .25rem;
  flex: 1 1 auto;
  padding: 1.25rem;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
  margin-left: 10%;
  margin-right: 10%;
  background: #fff;
  text-align: center !important;
  word-wrap: break-word;
}

.post_body {
  margin-top: 10px;
} */